    
    #content{
    
    display: inline-block;

    }
    
    #container{
    
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.2%;
    grid-template-rows: 75px 75px 40px 290px 290px 290px 290px 290px 290px 290px 290px 290px 290px 40px;
    
    }
    
    #header{
    color: white;
    background-color: #752936 ;
    grid-column: 1 / span 7;
    grid-row: 1;
    text-align: center;
    
    }
    
    #calendarmonth{
    
    background-color: #dfb93d;
    grid-column: 1 / span 7;
    grid-row: 2;
    text-align: center;
    
    }
    
    #sunday{
    
    background-color: #752936 ;
    color: white;
    grid-column: 1;
    grid-row: 3;
    text-align: center;
    border: 2px solid;
    
    }
    
    #monday{
    
    background-color: #752936 ;
    color: white;
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    border: 2px solid;
    
    }
    
    #tuesday{
    
    background-color: #752936 ;
    color: white;
    grid-column: 3;
    grid-row: 3;
    text-align: center;
    border: 2px solid;
    
    }
    
    #wednesday{
    
    background-color:#752936 ;
    color: white;
    grid-column: 4;
    grid-row: 3;
    text-align: center;
    border: 2px solid;
    
    }
    
    #thursday{
    
    background-color: #752936 ;
    color: white;
    grid-column: 5;
    grid-row: 3;
    text-align: center;
    border: 2px solid;
    
    }
    
    #friday{
    
    background-color: #752936 ;
    color: white;
    grid-column: 6;
    grid-row: 3;
    text-align: center;
    border: 2px solid;
    
    }
    
    #saturday{
    
    background-color: #752936 ;
    color: white;
    grid-column: 7 / span 7;
    grid-row: 3;
    text-align: center;
    border: 2px solid;
    
    }
    
    #one{
    
    background-color: #dfb93d;
    grid-column: 1;
    grid-row: 4;
    border: 2px solid;
    
    }
    
    #outputfordayone{
    
    background-color: #752936;
    color: white;
    grid-column: 1;
    grid-row: 5;
    font-size: small;
    padding: 5px;
    text-align: left;
    border: 2px solid;
    
    }
    
    #two{
    
    background-color: #dfb93d;
    grid-column: 2;
    grid-row: 4;
    border: 2px solid;
    
    }
    
    #outputfordaytwo{
    
    background-color: #752936;
    color: white;
    grid-column: 2;
    grid-row: 5;
    font-size: small;
    padding: 5px;
    text-align: left;
    border: 2px solid;
    
    }
    
    #three{
    
    background-color: #dfb93d;
    grid-column: 3;
    grid-row: 4;
    border: 2px solid;
    
    }
    
    #outputfordaythree{
    
    background-color: #752936;
    color: white;
    grid-column: 3;
    grid-row: 5;
    font-size: small;
    padding: 5px;
    text-align: left;
    border: 2px solid;
    
    }
    
    #four{
    
    background-color: #dfb93d;
    grid-column: 4;
    grid-row: 4;
    border: 2px solid;
    
    }
    
    #outputfordayfour{
    
    background-color: #752936;
    color: white;
    grid-column: 4;
    grid-row: 5;
    font-size: small;
    padding: 5px;
    text-align: left;
    border: 2px solid;
    
    }
    
    #five{
    
    background-color: #dfb93d;
    grid-column: 5;
    grid-row: 4;
    border: 2px solid;
    
    }
    
    #outputfordayfive{
    
    background-color: #752936;
    color: white;
    grid-column: 5;
    grid-row: 5;
    font-size: small;
    padding: 5px;
    text-align: left;
    border: 2px solid;
    
    }
    
    #six{
    
    background-color: #dfb93d;
    grid-column: 6;
    grid-row: 4;
    border: 2px solid;
    
    }
    
    #outputfordaysix{
    
    background-color: #752936;
    color: white;
    grid-column: 6;
    grid-row: 5;
    font-size: small;
    padding: 5px;
    text-align: left;
    border: 2px solid;
    
    }
    
    #seven{
    
    background-color: #dfb93d;
    grid-column: 7;
    grid-row: 4;
    border: 2px solid;
    
    }

    #outputfordayseven{
    
    background-color: #752936;
    color: white;
    grid-column: 7;
    font-size: small;
    grid-row: 5;
    padding: 5px;
    border: 2px solid;
    }

    #eight{
    
    background-color: #dfb93d;
    grid-column: 1;
    grid-row: 6;
    border: 2px solid;
    
    }

    #outputfordayeight{
    
    background-color: #752936;
    color: white;
    grid-column: 1;
    grid-row: 7;
    font-size: small;
    padding: 5px;
    border: 2px solid;
    }
    
    #nine{
    
    background-color: #dfb93d;
    grid-column: 2;
    grid-row: 6;
    border: 2px solid;
    
    }
    
    #outputfordaynine{
    
    background-color: #752936;
    color: white;;
    grid-column: 2;
    grid-row: 7;
    font-size: small;
    padding: 5px;
    text-align: left;
    border: 2px solid;
    
    }
    
    #ten{
    
    background-color: #dfb93d;
    grid-column: 3;
    grid-row: 6;
    border: 2px solid;
    
    }

    #outputfordayten{
    
    background-color: #752936;
    color: white;
    grid-column: 3;
    grid-row: 7;
    font-size: small;
    padding: 5px;
    text-align: left;
    border: 2px solid;
    }
    
    #eleven{
    
    background-color: #dfb93d;
    grid-column: 4;
    grid-row: 6;
    border: 2px solid;
    
    }
    
    #outputfordayeleven{
    
    background-color: #752936;
    color: white;
        grid-column: 4;
        grid-row: 7;
        font-size: small;
        padding: 5px;
        text-align: left;
        border: 2px solid;
        }

    #twelve{
    
    background-color: #dfb93d;
    grid-column: 5;
    grid-row: 6;
    border: 2px solid;
    
    }

    #outputfordaytwelve{
    
        background-color: #752936;
        color: white;
        grid-column: 5;
        grid-row: 7;
        font-size: small;
        padding: 5px;
        text-align: left;
        border: 2px solid;
    }
    
    #thirteen{
    
    background-color: #dfb93d;
    grid-column: 6;
    grid-row: 6;
    border: 2px solid;
    
    }

    #outputfordaythirteen{
    
        background-color: #752936;
        color: white;
    grid-column: 6;
    grid-row: 7;
    font-size: small;
    padding: 5px;
    text-align: left;
    border: 2px solid;
    }
    
    #fourteen{
    
    background-color: #dfb93d;
    grid-column: 7;
    grid-row: 6;
    border: 2px solid;
    
    }

    #outputfordayfourteen{
    
        background-color: #752936;
    color: white;
        grid-column: 7;
        grid-row: 7;
        padding: 5px;
        border: 2px solid;
        }
    
    #fifteen{
    
    background-color: #dfb93d;
    grid-column: 1;
    grid-row: 8;
    border: 2px solid;
    
    }

    #outputfordayfifteen{
    
        background-color: #752936;
        color: white;
        grid-column: 1;
        grid-row: 9;
        padding: 5px;
        border: 2px solid;
        }
    
    #sixteen{
    
    background-color: #dfb93d;
    grid-column: 2;
    grid-row: 8;
    border: 2px solid;
    
    }
    
    #outputfordaysixteen{
    
        background-color: #752936;
        color: white;
        grid-column: 2;
        grid-row: 9;
        font-size: small;
        padding: 5px;
        text-align: left;
        border: 2px solid;
        }
    
    #seventeen{
    
    background-color: #dfb93d;
    grid-column: 3;
    grid-row: 8;
    border: 2px solid;
    
    }

    #outputfordayseventeen{
    
        background-color: #752936;
    color: white;
        grid-column: 3;
        grid-row: 9;
        font-size: small;
        padding: 5px;
        text-align: left;
        border: 2px solid;
        }
    
    #eighteen{
    
    background-color: #dfb93d;
    grid-column: 4;
    grid-row: 8;
    border: 2px solid;
    
    }

    #outputfordayeighteen{
    
        background-color: #752936;
    color: white;
        grid-column: 4;
        grid-row: 9;
        font-size: small;
        padding: 5px;
        text-align: left;
        border: 2px solid;
        }
    
    #nineteen{
    
    background-color: #dfb93d;
    grid-column: 5;
    grid-row: 8;
    border: 2px solid;
    
    }

    #outputfordaynineteen{
    
        background-color: #752936;
    color: white;
        grid-column: 5;
        grid-row: 9;
        font-size: small;
        padding: 5px;
        text-align: left;
        border: 2px solid;
        }
    
    #twenty{
    
    background-color: #dfb93d;
    grid-column: 6;
    grid-row: 8;
    border: 2px solid;
    
    }

    #outputfordaytwenty{
    
        background-color: #752936;
    color: white;
        grid-column: 6;
        grid-row: 9;
        font-size: small;
        padding: 5px;
        text-align: left;
        border: 2px solid;
        }
    
    #twentyone{
    
    background-color: #dfb93d;
    grid-column: 7;
    grid-row: 8;
    border: 2px solid;
    
    }

    #outputfordaytwentyone{
    
        background-color: #752936;
        color: white;
        grid-column: 7;
        grid-row: 9;
        padding: 5px;
        border: 2px solid;
        }
    
    #twentytwo{
    
    background-color: #dfb93d;
    grid-column: 1;
    grid-row: 10;
    border: 2px solid;
    
    }

    #outputfordaytwentytwo{
    
        background-color: #752936;
    color: white;
        grid-column: 1;
        grid-row: 11;
        padding: 5px;
        border: 2px solid;
    
    }
    
    #twentythree{
    
    background-color: #dfb93d;
    grid-column: 2;
    grid-row: 10;
    border: 2px solid;
    
    }
    
    #outputfordaytwentythree{
    
        background-color: #752936;
        color: white;
    grid-column: 2;
    grid-row: 11;
    font-size: small;
    padding: 5px;
    text-align: left;
    border: 2px solid;

    }
    
    
    
    #twentyfour{
    
    background-color: #dfb93d;
    grid-column: 3;
    grid-row: 10;
    border: 2px solid;
    
    }

    #outputfordaytwentyfour{
    
        background-color: #752936;
    color: white;
        grid-column: 3;
        grid-row: 11;
        font-size: small;
        padding: 5px;
        text-align: left;
        border: 2px solid;
    
        }
    
    #twentyfive{
    
    background-color: #dfb93d;
    grid-column: 4;
    grid-row: 10;
    border: 2px solid;
    
    }

    #outputfordaytwentyfive{
    
        background-color: #752936;
    color: white;
        grid-column: 4;
        grid-row: 11;
        font-size: small;
        padding: 5px;
        text-align: left;
        border: 2px solid;
    
        }
    
    #twentysix{
    
    background-color: #dfb93d;
    grid-column: 5;
    grid-row: 10;
    border: 2px solid;
    
    }

    #outputfordaytwentysix{
    
        background-color: #752936;
        color: white;
        grid-column: 5;
        grid-row: 11;
        font-size: small;
        padding: 5px;
        text-align: left;
        border: 2px solid;
    
        }
    
    #twentyseven{
    
    background-color: #dfb93d;
    grid-column: 6;
    grid-row: 10;
    border: 2px solid;
    
    }

    #outputfordaytwentyseven{
    
        background-color: #752936;
        color: white;
        grid-column: 6;
        grid-row: 11;
        font-size: small;
        padding: 5px;
        text-align: left;
        border: 2px solid;
    
        }
    
    #twentyeight{
    
    background-color: #dfb93d;
    grid-column: 7;
    grid-row: 10;    
    border: 2px solid;
    
    }

    #outputfordaytwentyeight{
    
        background-color: #752936;
    color: white;
        grid-column: 7;
        grid-row: 11;
        
        padding: 5px;
      
        border: 2px solid;
    
        }
    
    #twentynine{

    background-color: #dfb93d;
    grid-column: 1;
    grid-row: 12;
    border: 2px solid;
    
    }

    #outputfordaytwentynine{
    
        background-color: #752936;
    color: white;
        grid-column: 1;
        grid-row: 13;
      
        padding: 5px;
      
        border: 2px solid;
    
        }
    
    #thirty{
    
    background-color: #dfb93d;
    grid-column: 2;
    grid-row: 12;
    border: 2px solid;
    
    }

    #outputfordaythirty{
    
        background-color: #752936;
    color: white;
        grid-column: 2;
        grid-row: 13;
        font-size: small;
        padding: 5px;
        text-align: left;
        border: 2px solid;
    
        }
    
    #thirtyone{
    
    background-color: #dfb93d;
    grid-column: 3;
    grid-row: 12;
    border: 2px solid;
    
    }

    #outputfordaythirtyone{
    
        background-color: #752936;
    color: white;
        grid-column: 3;
        grid-row: 13;
        font-size: small;
        padding: 5px;
        text-align: left;
        border: 2px solid;
    
        }
    
    #blank{
    
    background-color: #dfb93d;
    grid-column: 4;
    grid-row: 12;
    border: 2px solid;
    
    }

    #outputfordayblank{
    
        background-color: #752936;
    color: white;
        grid-column: 4;
        grid-row: 13;
        padding: 5px;
        border: 2px solid;
    
    }
    
    #blank1{
    
    background-color: #dfb93d;
    grid-column: 5;
    grid-row: 12;
    border: 2px solid;
    
    }

    #outputfordayblank1{
    
        background-color: #752936;
        color: white;
        grid-column: 5;
        grid-row: 13;
        padding: 5px;
        border: 2px solid;
    
    }
    
    #blank2{
    
    background-color: #dfb93d;
    grid-column: 6;
    grid-row: 12;
    border: 2px solid;
    
    }

    #outputfordayblank2{
    
        background-color: #752936;
        color: white;
        grid-column: 6;
        grid-row: 13;
        padding: 5px;
        border: 2px solid;
    
    }
    
    #blank3{
    
    background-color: #dfb93d;
    grid-column: 7;
    grid-row: 12;
    border: 2px solid;
    
    }

    #outputfordayblank3{
    
        background-color: #752936;
    color: white;
        grid-column: 7;
        grid-row: 13;
        padding: 5px;
        border: 2px solid;
    
    }

    #twoform{
    
        grid-column: 2;
        grid-row: 4;
        padding-left: 8px;
        
    }
    
    #twobutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px
    
    }
    
    #twocancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton2{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px
    
    }

    #threeform{
    
        grid-column: 3;
        grid-row: 4;
        padding-left: 8px;
        
    }
    
    #threebutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px
    
    }
    
    #threecancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton3{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #fourform{
    
        grid-column: 4;
        grid-row: 4;
        padding-left: 8px;
        
    }
    
    #fourbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px
    
    }
    
    #fourcancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton4{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #fiveform{
    
        grid-column: 5;
        grid-row: 4;
        padding-left: 8px;
        
    }
    
    #fivebutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px
    
    }
    
    #fivecancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton5{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #sixform{
    
        grid-column: 6;
        grid-row: 4;
        padding-left: 8px;
        
    }
    
    #sixbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px
    
    }
    
    #sixcancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton6{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #nineform{
    
        grid-column: 2;
        grid-row: 7;
        padding-left: 8px;
        
    }
    
    #ninebutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px
    
    }
    
    #ninecancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton9{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #tenform{
    
        grid-column: 3;
        grid-row: 7;
        padding-left: 8px;
        
    }
    
    #tenbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px
    
    }
    
    #tencancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton10{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #elevenform{
    
        grid-column: 4;
        grid-row: 7;
        padding-left: 8px;
        
    }
    
    #elevenbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px
    
    }
    
    #elevencancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton11{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #twelveform{
    
        grid-column: 5;
        grid-row: 7;
        padding-left: 8px;
        
    }
    
    #twelvebutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px
    
    }
    
    #twelvecancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton12{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #thirteenform{
    
        grid-column: 6;
        grid-row: 7;
        padding-left: 8px;
        
    }
    
    #thirteenbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px
    
    }
    
    #thirteencancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton13{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #sixteenform{
    
        grid-column: 1;
        grid-row: 9;
        padding-left: 8px;
        
    }
    
    #sixteenbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px
    
    }
    
    #sixteencancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton16{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #seventeenform{
    
        grid-column: 2;
        grid-row: 9;
        padding-left: 8px;
        
    }
    
    #seventeenbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px;
    
    }
    
    #seventeencancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton17{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #eighteenform{
    
        grid-column: 3;
        grid-row: 9;
        padding-left: 8px;
        
    }
    
    #eighteenbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px;
    
    }
    
    #eighteencancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton18{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #nineteenform{
    
        grid-column: 3;
        grid-row: 9;
        padding-left: 8px;
        
    }
    
    #nineteenbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px;
    
    }
    
    #nineteencancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton19{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #twentyform{
    
        grid-column: 4;
        grid-row: 9;
        padding-left: 8px;
        
    }
    
    #twentybutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px;
    
    }
    
    #twentycancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton20{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    
    #twentythreeform{
    
        grid-column: 2;
        grid-row: 11;
        padding-left: 8px;
        
    }
    
    #twentythreebutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px;
    
    }
    
    #twentythreecancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton23{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #twentyfourform{
    
        grid-column: 3;
        grid-row: 11;
        padding-left: 8px;
        
    }
    
    #twentyfourbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px;
    
    }
    
    #twentyfourcancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton24{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #twentyfiveform{
    
        grid-column: 4;
        grid-row: 11;
        padding-left: 8px;
        
    }
    
    #twentyfivebutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px;
    
    }
    
    #twentyfivecancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton25{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #twentysixform{
    
        grid-column: 5;
        grid-row: 11;
        padding-left: 8px;
        
    }
    
    #twentysixbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px;
    
    }
    
    #twentysixcancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton26{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #twentysevenform{
    
        grid-column: 6;
        grid-row: 11;
        padding-left: 8px;
        
    }
    
    #twentysevenbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px;
    
    }
    
    #twentysevencancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton27{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #thirtyform{
    
        grid-column: 2;
        grid-row: 13;
        padding-left: 8px;
        
    }
    
    #thirtybutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px;
    
    }
    
    #thirtycancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton30{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }

    #thirtyoneform{
    
        grid-column: 3;
        grid-row: 13;
        padding-left: 8px;
        
    }
    
    #thirtyonebutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 160px;
    
    }
    
    #thirtyonecancelbutton{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    text-align: center;
    
    
    }
    
    #submitbutton31{
    
    border: 2px solid black;
    background-color: white;
    color: black;
    width: 175px;
    
    }
    
    footer{
    
    background-color: #752936 ;
    color: white;
    grid-column: 1 / span 7;
    grid-row: 14;
    text-align: center;
    padding-top: 7px;
    }